@media (min-width: 768px) {
/* show 3 items */
.carousel2-inner .active,
.carousel2-inner .active + .carousel2-item,
.carousel2-inner .active + .carousel2-item + .carousel2-item {
  display: block;
}

.carousel2-inner .carousel2-item.active:not(.carousel2-item-right):not(.carousel2-item-left),
.carousel2-inner .carousel2-item.active:not(.carousel2-item-right):not(.carousel2-item-left) + .carousel2-item,
.carousel2-inner .carousel2-item.active:not(.carousel2-item-right):not(.carousel2-item-left) + .carousel2-item + .carousel2-item {
  transition: none;
}

.carousel2-inner .carousel2-item-next,
.carousel2-inner .carousel2-item-prev {
  position: relative;
  transform: translate3d(0, 0, 0);
}

.carousel2-inner .active.carousel2-item + .carousel2-item + .carousel2-item + .carousel2-item {
  position: absolute;
  top: 0;
  right: -33.3333%;
  z-index: -1;
  display: block;
  visibility: visible;
}

/* left or forward direction */
.active.carousel2-item-left + .carousel2-item-next.carousel2-item-left,
.carousel2-item-next.carousel2-item-left + .carousel2-item,
.carousel2-item-next.carousel2-item-left + .carousel2-item + .carousel2-item,
.carousel2-item-next.carousel2-item-left + .carousel2-item + .carousel2-item + .carousel2-item {
  position: relative;
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.carousel2-inner .carousel2-item-prev.carousel2-item-right {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  visibility: visible;
}

/* right or prev direction */
.active.carousel2-item-right + .carousel2-item-prev.carousel2-item-right,
.carousel2-item-prev.carousel2-item-right + .carousel2-item,
.carousel2-item-prev.carousel2-item-right + .carousel2-item + .carousel2-item,
.carousel2-item-prev.carousel2-item-right + .carousel2-item + .carousel2-item + .carousel2-item {
  position: relative;
  transform: translate3d(100%, 0, 0);
  visibility: visible;
  display: block;
  visibility: visible;
}
}